<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div class="footer-text">
      <p>我来，我见，我征服</p>
      <p>我们的征途是星辰大海</p>
    </div>
    <div id="footer-info" class="inner">
      <i>I wanna be a <b>HACKER</b><i> &copy; <%= date(new Date(), 'YYYY') %> <a href="https://www.github.com/ultravires"><%= config.author || config.title %></a><br>
      <%= __('powered_by') %> <a href="https://www.sanphantom.com/" target="_blank">Sanphantom</a>
    </div>
  </div>
</footer>