#footer
  background: color-footer-background
  padding: 50px 0
  margin-top: 66px
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  float: right
  width: 50%
  line-height: line-height
  font-size: 0.85em

.footer-text
  float: left
  width: 33.33333333%
  font-weight: bold