#toc
  position: absolute
  padding: 30px 60px 30px 20px
  box-sizing: border-box

.toc-item
  line-height: 1.6
  & .toc-link
    color: #708090
    text-decoration: none
  & .toc-link.active
    color: #3fc196
    font-weight: bold
  & .toc-child
    margin-left: 1em